.card-container {
    border-radius: 2px;
    display: inline-block;
    margin: 0 25px 25px 25px;
    .card-content {
        position: relative;
        width: 800px;
        height: 500px;
        background-color: white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
        transition: all .3s cubic-bezier(.25, .8, .25, 1);
        border: none;
        text-align: center;
    }
}